body {
  font-family: Georgia, serif;
}
h1 {
  background-color: #247000;
  color: #e2d736;
  width: 100%;
  font-size: 3em;
  padding: 20px 50px 20px 50px;
}
div{
  width: 100%;
  background-color: #f0ca98;
  overflow: auto;
}
img {
  float: left;
}
p{
  font-size: 1.5em;
}
#caption{
  width:70%;
  padding: 15px;
  float:right;
}
#text {
  padding: 15px;
}
h2{
  font-size: 2em;
  clear: left;
  width:100%;
}
