@font-face {
  font-family: quicksand-regular;
  src: url(fonts/Quicksand-Regular.otf);
}
body {
  background-color: #E6E6FA;
  color: #191970;
  font-family: quicksand-regular, Verdana, Arial, sans-serif;
  padding: 20px;
  background-image: url('images/whiteflower.png');
  background-size: 400%;
  background-position: -5% -5%;
}
h1{
  font-size: 3em;
  color: #E6E6FA;
  background-color: #191970;
  background-image: url('images/whiteflower.png');
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
  border-bottom: solid #AEAED4;
  border-width: 8px;
}
h2 {
  background-color: #AEAED4;
  color: #191970;
  border-bottom: solid #191970;
  background-image: url('images/whiteflower.png');
  background-repeat: no-repeat;
  padding: 10px;
  padding-left: 50px;
}
a {
  background-color: #191970;
  color: #E6E6FA;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
