body {
  background-color: rgb(216, 200, 200);
  color: rgb(3,3,25);
  font-family: courier, monospace;
  font-size: 1.5em;
}

h1 {
  background-color: rgb(3,3,25);
  color: rgb(216,200,200);
  font-size: 2.5em;
}

h2 {
  background-color: rgb(91, 92, 186);
  color: rgb(3,3,25);
  font-size: 1.75em;
}
