@font-face {
  font-family: aaargh;
  src: url(../aaargh.ttf);
}
html{
  font-family: aaargh, sans-serif;
}
body{background-color: black;}
#fullscreen-bg{background-color: black;}
#fullscreen-bgvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: aaargh, sans-serif;
  }

header {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 100;
  background: rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  z-index: 1;
  width: 100%;
  font-size: 1.2em;
}
/*p{
  background: rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  z-index: 1;
  float: left;
  width: 100%;
}
h3{
  background: rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  z-index: 1;
  float: left;
  width: 50%;
}*/
ul{
  list-style: none;
}
li{
  display: inline-block;
}

#calendar{
  margin-top: 20%;
  margin-left: 20%;
}

nav ul li a {
  font-family: sans-serif;
  font-weight:100;
  color: white;
  z-index: 1;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  padding: 0 1em 0 1em;
  }
nav ul li a:hover{
  color: gray;
}
form{
  text-align: left;
  width: 50%;
  margin-left: 40%;
}
#gridContainer {
  margin-top: 20%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}
.gridItem a img{
  width: 100%;
  height: 80%;
  border: gray 6px solid;
  border-color: lightgray;
  border-radius: 6px;
}
.gridItem a img:hover{
  border-color: darkgray;
}

.gridItem div{
  content: " ";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 105%;
  height: 105%;
  z-index: 2;
  display: none;
}

.gridItem div:hover{
  display:block;

}

.gridItem a{
  text-decoration: none;
  color: white;
}

.gridItem a:hover{
  color: gray;
}

@media screen and (max-width: 480px){
  ul{
    display: inline-block;
    list-style: none;
  }
  li{
    text-decoration: none;
  }
  a {
    font-family: sans-serif;
    font-weight:100;
    color: white;
    z-index: 1;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
    padding: 0 4em 0 4em;
    }

}
