body {
  background-color: #f2eab7;
  color: #000000;
  font-family: courier, monospace;
  font-size: 1em;
  text-align: center;
}
header {
  background-color: #ccaa66;
  width: 100%;
  border-bottom: 3px black solid;
}
nav{
  float: left;
  width: 100px;
  background-color: #ffffcc;
  height: 600px;
}
#text {
  float:left;
}
#musicIntro{
  margin-left: 150px;
}
.musicText{
  max-width: 40%;
  float:left;
  margin-left: 50px;
}
.artistPhoto{
  max-width: 30%;
}
ul {
  text-align: left;
  width: 70%;
}
p{
  text-align: left;
  margin-left: 50px;
}
#road {
  margin-right: 10%;
  float:left;
}

nav a {
    background-color: #ffffcc;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    color: rgb(3,3,25);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
nav a:link { color: #996633; }
nav a:visited {color: #ccaa66;}
nav a:hover { background-color: #f2eab7;}

}
h1 {
  background-color: #ccaa66;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
h2 {
  background-color:#ccaa66;
  color: rgb(3,3,25);
  font-size: 1.75em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  border-bottom: 3px black solid;
}

footer {
  position:fixed;
  bottom:0;
  width:100%;
  background-color: #ccaa66;
  color: rgb(3,3,25);
}
